/*------------------------------------------------------------------
    測試用的OUTLINE
-------------------------------------------------------------------*/
/* *{
	outline:1px solid red;	
}   */

.red{
	border:3px solid red;
}
.purple{
	border:3px solid purple;
}
.blue{
	border:3px solid blue;
}
.green{
	border:3px solid green;
}
.orange{
	border:3px solid orange;
	box-sizing:border-box;
	padding-left: 2%;
}
.deeppink{
	border:3px solid deeppink;
}



/*------------------------------------------------------------------
    Flex + margin 垂直置中方式
-------------------------------------------------------------------*/
.center-box {
  	margin: auto;
	box-sizing: border-box;
	padding-left: 10%;
}

.center-box .center-content{
  margin: auto;
  vertical-align: middle;
}


/*------------------------------------------------------------------
    OTHERS
-------------------------------------------------------------------*/
.center-box {
	margin-bottom: 5%;
}
	
select{
	text-decoration: none;    
	border-color: transparent;
    background-color: rgb(187,157,82,0.2);
    width: 150px;
    border-bottom: 2px dashed #bb9d52;
    margin-left: 10px;
    box-sizing: border-box;
    padding-bottom: 3px;
    color: #bb9d52;
	line-hight: 5px;
}

.h3-sty-line{
    width: 88px;
    text-align: center;
    line-height: 30px;
    border-right: 2px solid #bb9d52;
}

b{
	font-size:16px;
	color: rgb(88,88,88);
}


/*------------------------------------------------------------------
    FOR AJUSTMENT
-------------------------------------------------------------------*/
.font-weight-seven{
	 font-weight: 700;
}

.box-sizing{
	box-sizing: border-box;
}

.pd-left-five{
    padding-left: 5%;
}

.pd-top-five{
    padding-top: 5%;
}