/*------------------------------------------------------------------
    測試用的OUTLINE
-------------------------------------------------------------------*/
/* *{
	outline:1px solid red;	
}   */

.red{
	border:3px solid red;
}
.purple{
	border:3px solid purple;
}
.blue{
	border:3px solid blue;
}
.green{
	border:3px solid green;
}
.orange{
	border-left:3px solid orange;
	box-sizing:border-box;
	padding-left: -2%;
}
.deeppink{
	border:3px solid deeppink;
}


/*------------------------------------------------------------------
    Line-height + inline-block 多物件的垂直置中
-------------------------------------------------------------------*/
  .center-linehigh-box{
  	margin: auto; 
  	text-align: center; 
  	line-height: 200px; 
  }
  .center-linehigh-content{
	display: inline-block;
	height: auto;
	line-height:1;
	vertical-align: middle;
  }
  

/*------------------------------------------------------------------
    FOR AJUSTMENT
-------------------------------------------------------------------*/
.center-box {
  	margin-top: 3%;
	box-sizing: border-box;
	padding-left: 10%;
	margin-bottom: 5%;
}

.center-box .center-content{
  margin: auto;
  vertical-align: middle;
}

.titile-pos{
	text-align: center;
    vertical-align: middle;
    padding: 3%;
}

.content-pos{
	box-sizing: border-box;
    padding-top: 5%;
	position: relative;
}
.content-pos::after{
	content: '';
    width: 400px;
    height: 139px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 3%;
    right: 0;
    bottom: 0;
    z-index: -1;  
	-webkit-box-shadow: 0px 3px 5px rgb(8,8,8, 0.3);
	-moz-box-shadow: 0px 3px 5px rgb(8,8,8, 0.3);
	box-shadow: 0px 3px 5px rgb(8,8,8, 0.3);
}	

select{
	text-decoration: none;    
	border-color: transparent;
    background-color: rgb(187,157,82,0.2);
    width: 150px;
    border-bottom: 2px dashed #bb9d52;
    margin-left: 10px;
    box-sizing: border-box;
    padding-bottom: 3px;
    color: #bb9d52;
	line-hight: 5px;
}

b{
	font-size:18px;
	color: rgb(88,88,88);
}

.font-weight-seven{
	 font-weight: 700;
}

.sty-line{    
    border-right: 3px solid #bb9d52;
}

.sty-form{
	box-sizing: border-box;
    padding: 1% 0 0 0;
}

.pd-left{
	padding-left: 10%;
}

/*------------------------------------------------------------------
    LIGHTBOX
-------------------------------------------------------------------*/
.sty-lightbox{
	border: 2px solid rgba(119,136,153,.9);
	background-color: #fff;
	box-shadow: 0px 1px 5px 0px rgb(110 110 110 / 90%);
	margin: 2% 5% 5% 5%;
	width: 720px;
	border-radius: .3rem;
}

.sty-close-btn:hover{
	color: #bb9d52;
}

/*------------------------------------------------------------------
    UPLOAD IMG & VIDEO
-------------------------------------------------------------------*/  
 #uploadFile, #uploadTrailer{
	width: 75px;
	font-size: 18px;
 }
 #show-poster, #show-trailer{
	position: relative; 
 }
 #fileImg .img, #trailerVdo .vdo{
	height: 100px;
	width: auto;
	position: absolute;
	top: -85%;
	left: 260%;
	right: 0;
	bottom: 0;
 }