/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Noto+Serif:400,700');


/*------------------------------------------------------------------
    GENERAL
-------------------------------------------------------------------*/
#section{
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 2%;
	letter-spacing: 1px;
	height: 90vh;
}

#section a{
	color: #bb9d52;
}

#section a:hover{
	color: rgba(8, 8, 8, 0.9);
	text-shadow: 2px 2px 2px #999999;
}

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.80857;
    background-image: url('../images/bgCinema.png');
}

body a:hover,a:focus{
    text-decoration: none;
}

/*------------------------------------------------------------------
    SIDEBAR
-------------------------------------------------------------------*/
ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a {
    border-radius: 0;
    color: #ffffff !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
}

.navbar-nav > li a {
    background-color: transparent !important;
}

body.barber_version .sidebar-nav li a.active{
	background: #bb9d52;
	color: #ffffff;
}

.side-top{
	position: absolute;
	top: 12%;
	width: 280px;
	text-align: center;
	margin: -20px auto;
	padding: 0 30px;
	list-style: none;
}

body.barber_version .navbar-nav span {
    color: #424145 !important;
}

body.barber_version .sidebar-nav li:hover a {
    background: #bb9d52;
	color: #ffffff;
}
body.barber_version a:hover,
body.barber_version a:focus {
    color: #893d00;
}

body.barber_version li.active > a,
body.barber_version li.active > a:focus,
body.barber_version li.active > a:hover,
body.barber_version :hover i{
    color: #ffffff;
    background: #bb9d52;
}

body.barber_version {
    overflow-x: hidden;
}

body.barber_version #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

body.barber_version #sidebar-wrapper {
    z-index: 1000;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
    position: fixed;
    left: 280px;
    width: 0;
    height: 100%;
    background-color: white;
    margin-left: -280px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

body.barber_version #sidebar-wrapper {
    width: 280px;
}

body.barber_version .logo-sidebar {
    display: block;
    margin: 0 0 2em;
}

body.barber_version .sidebar-nav li {
    line-height: 45px;
	margin-bottom: 15px;
}

body.barber_version .sidebar-nav li a {
    display: block;
    color: #999999;
	background-color: transparent;
	font-weight: 600;
	padding: 7px 17px 7px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	line-height: 21px;
}

body.barber_version .sidebar-nav li a:hover {
    color: #fff;
}


/*------------------------------------------------------------------
    BUTTON
-------------------------------------------------------------------*/
body.barber_version .grd1 {
	color: #ffffff;
    background: rgb(16,16,16);
}


body.barber_version .grd1:hover,
body.barber_version .grd1:focus {
	color: #ffffff;
    background: #bb9d52;
}

.effect-1:after, .global-radius, .btn-brd {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

body.barber_version .effect-1:after {
    box-shadow: 0 0 0 2px #bb9d52;
}

.btn {
    border: 0 !important;
}

.btn-light {
    padding: 0 20px;
    margin-left: 15px;
    padding: 2px 14px;
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
	font-weight: 500;
    border: 2px solid transparent !important;
}

.btn-light:hover,
.btn-light:focus {
    color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.9) !important;
}

.effect-1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.effect-1 {
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.effect-1:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    box-shadow: 0 0 0 2px #2750ff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

.effect-1:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.effect-1:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}